body{
    margin:0;
    padding: 0;
}
*{

}

.xuong {
    width: 30px;
    height: 50px;
    border: white solid 1px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.4s;
    z-index: 5;
    bottom: 2%;
    transform: translateY(200%) translateX(-50%);
}

.xuong:before {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 65%;
    background: white;
}

.xuong:hover {
    bottom: 4%;
}

.khoittnho p {
    font-size: 14px;
    line-height: 20px;
    color: #4e4e4eba;
}

span.mota {
    font-size: 13px;
    margin-bottom: 26px;
    display: block;
}

.khoittnho h3.tieudecap3 {
    font-size: 16px;
    color: #e35855;
    margin-bottom: 20px;
}

.khoittnho h3.tieude3 {
    font-size: 16px;
    color: #35855;
}

h2.tieducap2 {
    font-weight: normal;
    font-family: segoe ui light;
    font-size: 18px;
}

span.dam {
    font-weight: bold;
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 16px;
}

.tieudeto h1 {
    display: inline;
    text-transform: uppercase;
}

.col-md-12.tieudeto.text-center {
    margin-top: 120px;
    margin-bottom: 60px;
}

.tt a.nuthire.btn.btn-primary {
    width: 180px;
    background: black;
    border: none;
    border-radius: 0;
}

.tt p {
    color: #373a3c;
    font-size: 16px;
    line-height: 24px;
    width: 46%;
    margin: auto;
    margin-bottom: 34px;
}

.tt h2 {
    font-size: 40px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 20px;
}

.tt img {
    border-radius: 50%;
    margin-bottom: 50px;
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 20%;
}

nav.navbar.navbar-expand-lg.navbar-light.fixed-top {
    background: white;
}

body,html {
    width: 100%;
    height: 100%;
}

.khoitt1 {
    height: 100%;
    width: 100%;
    background: #e9585f;
    position: relative;
}

.khoitt1:before {content: " ";position: absolute;top: 0;left: 0;width: 50%;height: 100%;background: #e4555b;}
.nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin: 0;
    height: 100px;
    padding: 0;
    background-color: white!important;
}
a.nav-item.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    color: #101010;
    line-height: 100px;
    margin: 0 17px;
    padding:0 ;
    font-weight: 500;
}
@media (max-width:768px){
    *{

    }
    a.nav-item.nav-link {
        text-align: center;
        margin: 0;
        padding: 0;
        height: 80px;
        line-height: 80px;
        border-bottom: 1px dotted gray;
    }
    .tt p {
        width: 100%;
    }
    .tt {
        top: 15%;
    }
    .cot2_3{
        margin-bottom: 20px;
    }
    
}


@media (max-width:360px){
    .khoitt1 {
        height: 150%;
    }
}

@media (width:1024px){
    .tt {
        padding-top: 43%;
    }
}